*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* text-align: center; */
  color: #3d3d3d;
  /* line-height: 1.7; */
  max-width: 100%;
  overflow-x: hidden;
}

.section-title {
  position: absolute;
  //font-size: 40px;
  font-family: $font-header;
  color: $color-yarrow;
}

.section-title:after {
  position: absolute;
  background-color: $color-yarrow;
  content: '';
  bottom: 0;
  width: 100px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
}
