*,
*::before,
*::after {
  box-sizing: border-box;
}

/* works on all body on the website */
body {
  margin: 0;
  text-align: center;
  color: #3d3d3d;
  /* line-height: 1.7; */
  max-width: 100%;
  overflow-x: hidden;
}

/* section's title*/
.section-title {
  position: absolute;
  color: $color-yarrow;
  padding-top: 70px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

/* line under section-title*/
.section-title:after {
  position: absolute;
  background-color: $color-yarrow;
  content: '';
  bottom: 0;
  width: 100px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
}
