/* about */

.about {
  position: relative;
}

/* do poprawy */
.about img {
  filter: brightness(50%);
}

.about .section-title {
  position: absolute;
  padding-top: 70px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.about .section-title::after {
  width: 500px;
  top: 150px;
}

/* do poprawy */
.about p {
  position: absolute;
  color: $color-light;
  font-size: 24px;
  line-height: 1.2;
  padding: 450px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .text-1 {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .motto {
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
}
