/* about */

.about {
  position: relative;
  height: 100%;
}

/* img background */
.about-bg {
  filter: brightness(50%);
}

.about .section-title {
  top: -5%;
  left: 42%;
}

.about .section-title::after {
  width: 500px;
  top: 150px;
}

.about .text-1 {
  position: absolute;
  color: $color-light;
  text-align: left;
  font-size: 24px;
  line-height: 1.2;
  padding: 350px;
  top: 0;
  left: 45%;
  transform: translate(-50%, -50%);
}

.about .text-2 {
  position: absolute;
  color: $color-light;
  text-align: left;
  font-size: 24px;
  line-height: 1.2;
  padding: 350px;
  top: 100px;
  left: 45%;
  transform: translate(-50%, -50%);
}

.about .motto {
  position: absolute;
  color: $color-light;
  text-align: left;
  font-size: 24px;
  line-height: 1.2;
  top: 250px;
  left: 60%;
  transform: translate(-50%, -50%);
}

/* carousel people*/

.carousel-item {
  position: absolute;
  top: 30%;
  left: 50%;
}

.about-us-img {
  position: absolute;
  left: -30%;
}

.carousel-caption {
  position: absolute;
  left: -70%;
  top: 0;
}

.people-description {
  position: absolute;
  text-align: left;
  padding-right: 800px;
  left: 900px;
  top: 100px;
  font-size: 24px;
}
