.description {
  color: $color-light;
  top: 50%;
  left: 30%;
}

.section-title {
  font-size: 54px;
  text-align: left;
}

.discover {
  color: $color-light;
  top: 100%;
  left: 50%;
  font-size: 24px;
  font-weight: 300;
}

.discover i,
.discover i:hover {
  color: $color-light;
  font-size: 36px;
}

.splash .img {
  object-fit: cover;
  float: right;
}
