#mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.logo {
  position: absolute;
  left: 20%;
  top: 25%;
  line-height: 1;
}

.logo a {
  font-size: 36px;
}

.logo h5 {
  font-size: 14px;
}

.navbar-nav {
  left: 60%;
}

/* mobile */
@media (max-width: 768px) {
  .logo {
    position: absolute;
    left: 45%;
    top: 25%;
    line-height: 1;
  }
}
