.products {
  position: relative;
  height: 1600px;
}

.products .section-title {
  color: $color-yarrow;
  top: -10%;
  left: 0;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.products .section-title::after {
  width: 500px;
  top: 150px;
}

.product-title {
  font-weight: 600;
  font-family: $font-header;
}

.product-title-3 {
  position: absolute;
  font-weight: 600;
  font-family: $font-header;
  bottom: 400px;
}

.products .description {
  color: $color-dark;
  text-align: left;
  padding-left: 150px;
  top: 0;
  padding-bottom: 30px;
}

.description-right {
  text-align: left;
  padding: 0 550px 50px 150px;
}

.description-left {
  position: absolute;
  text-align: left;
  padding: 0 1000px 50px 50px;
  left: 850px;
}

.description-3 {
  position: absolute;
  text-align: left;
  padding: 0 900px 50px 150px;
  bottom: 220px;
}

.products-line {
  position: absolute;
  background-color: $color-yarrow;
  content: '';
  bottom: 0;
  width: 100px;
  height: 5px;
  top: 260px;
  left: 16%;
  transform: translateX(-50%);
}

.products-line-2 {
  position: absolute;
  background-color: $color-yarrow;
  content: '';
  bottom: 0;
  width: 100px;
  height: 5px;
  top: 690px;
  left: 58%;
  transform: translateX(-50%);
}

.products-line-3 {
  position: absolute;
  background-color: $color-yarrow;
  content: '';
  bottom: 0;
  width: 100px;
  height: 5px;
  top: 78.5%;
  left: 18%;
  transform: translateX(-50%);
}

.product-rating p {
  font-weight: bold;
}

.product-rating span {
  color: $color-yarrow;
}

.product-rating-2 {
  position: absolute;
  top: 50%;
  left: 55%;
}

.product-rating-2 p {
  font-weight: bold;
}

.product-rating-2 span {
  color: $color-yarrow;
}

.product-rating-3 {
  position: absolute;
  bottom: 10%;
  left: 15%;
}

.product-rating-3 p {
  font-weight: bold;
}

.product-rating-3 span {
  color: $color-yarrow;
}

.product-image {
  position: relative;
  width: 50px;
  height: 50px;
}

.right-img {
  position: absolute;
  left: 500px;
  top: 50px;
}

.right-image {
  position: absolute;
  left: 550px;
  top: 370px;
}

.left-img {
  position: absolute;
  left: 0;
  top: 100px;
}

.product-image::before {
  position: absolute;
  content: '';
  background-color: $background-color-beige;
  width: 100%;
  height: 100%;
  top: 150px;
  left: 500px;
}
